body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
}

a:hover,
a:focus {
  text-decoration: none;
}

.useravatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.hover-underline:hover {
  text-decoration: underline;
}

.z-50 {
  z-index: 50;
}

.z-1060 {
  z-index: 1060;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.hidden {
  display: none;
}

.h-100vh {
  height: 100vh;
}

.min-h-100vh {
  min-height: 100vh;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.view-list {
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}

.view-list:hover {
  animation: pulse 0.9s ease-in-out alternate infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.featured-image {
  float: left;
  width: 25%;
}

p {
  margin: 0;
}

.accordion-item.has-error,
.accordion-item.has-error:not(:first-of-type) {
  border: 1px solid var(--bs-form-invalid-color);
  border-top-width: 1px !important;
}

.accordion-item.has-error .accordion-button:focus,
.accordion-item.has-error:not(:first-of-type) .accordion-button:focus {
  box-shadow: none !important;
}

.tabs-section h3.heading {
  font-size: 22px !important;
}

.symbol-image-lg {
  vertical-align: middle;
  width: 80px;
  height: 80px;
}

.symbol-image-md {
  vertical-align: middle;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.symbol-image {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.symbol-image-sm {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.symbol-image-xm {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border-radius: 50%;

}

.fs-small {
  font-size: small;
}

.striped-section>div:nth-of-type(odd),
.striped-section>a:nth-of-type(odd)>div {
  background: var(--bs-gray-200);
}

.striped-section>div:hover,
.striped-section>a>div:hover {
  background: var(--bs-gray-300);
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.btn-link,
.btn-link:link {
  color: inherit;
  text-decoration: inherit;
}

.btn-link:hover {
  color: currentColor !important;
  text-decoration: underline;
}

.results-icon,
.results-icon-md {
  width: 30px;
  height: 30px;
  font-size: normal;
  line-height: 1.4;

}

.results-icon-sm {
  width: 24px;
  font-size: small;
  line-height: 1.1;
}

.vote-section {
  min-height: 40px;

  .vote-btn.home {
    background: #3498db;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .vote-btn.draw {
    background: #f1c40f;
  }

  .vote-btn.away {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .vote-btn.home,
  .vote-btn.draw,
  .vote-btn.away {
    color: var(--bs-gray-300);
  }

  .transistion,
  .transistion {
    display: inline-block;
    transition: all 1.7s;
    padding: 0;

    .vote-counts {
      transition: visibility 1.2s, width 1.2s, opacity 1.2s;
      visibility: hidden;
      opacity: 0.4;
      font-size: 0px !important;

      &.shown {
        visibility: unset;
        opacity: 1;
        width: auto;
        font-size: initial !important;
      }
    }

    .vote-btn {
      padding: 0px !important;
      transition: visibility 1.2s, width 1.2s, opacity 1.2s;
      font-size: 0px !important;

      &.shown {
        padding: 5px !important;
        font-size: initial !important;

      }
    }
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.react-datepicker-popper {
  z-index: 100!important;
}