body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
}

a:hover,
a:focus {
  text-decoration: none;
}

.useravatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.z-50 {
  z-index: 50;
}

.z-1060 {
  z-index: 1060;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.hidden {
  display: none;
}

.h-100vh {
  height: 100vh;
}

.min-h-100vh {
  min-height: 100vh;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.view-list {
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}

.view-list:hover {
  animation: pulse 0.9s ease-in-out alternate infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.featured-image {
  float: left;
  width: 25%;
}

p {
  margin: 0;
}

.accordion-item.has-error,
.accordion-item.has-error:not(:first-of-type) {
  border: 1px solid var(--bs-form-invalid-color);
  border-top-width: 1px !important;
}

.accordion-item.has-error .accordion-button:focus,
.accordion-item.has-error:not(:first-of-type) .accordion-button:focus {
  box-shadow: none!important;
}