// Override default variables before the import
$body-bg: #eaeff4;
$blue: #124355 !default;
$indigo: #1f576c !default;
$purple: #1f576c !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: rgb(212 167 35) !default;
$green: #1f6f3e !default;
$teal: #117a3a !default;
// #245e72
$cyan: rgb(85, 161, 191) !default;

// Import Bootstrap and its default variables
@import 'bootstrap/scss/bootstrap.scss';